/* The Overlay (background) */

/* all map containers must be full height */
html, body, .container-full, .row-offcanvas .row-offcanvas-left, .page-container, .row, .map, .map_canvas { height: 100%; }

.nopadding {
   padding: 0px;
   margin: 0px;
}

#map_canvas {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0;
}
