html,
body,
.container-full,
.row-offcanvas .row-offcanvas-left,
.page-container,
.row,
.map,
.map_canvas {
  height: 100%;
}

.nopadding {
  padding: 0px;
  margin: 0px;
}

#map_canvas {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  right: 0;
}

/* ---- SIDEBAR ----*/
/* Wrapper div for the bar and the toggle button */
#sidebar-wrapper {
  position: absolute;
  top: 0px;
  text-align: center;
  left: 0px;
  z-index: 99;
  height: 100%;
  width: 330px;
  overflow: hidden;
}

/* The sidebar */
#sidebar {
  background-color: #FFFFFF;
  border: 2px;
  width: 300px;
  height: 100%;
  box-shadow: 0px 10px 10px 0px #888888;
  padding: 5px 10px 10px 5px;
}

/* The cute toggle button */
#toggle_button {
  position: absolute;
  top: 10px;
  left: 310px;
  z-index: 99;
  height: 50px;
  width: 18px;
  background: #FFFFFF;
  border: none;
  box-shadow: 5px 5px 5px 0px #888888;
}

/* -- Left and right arrow button CSS -- */
arrow {
  border: solid black;
  margin-top: 20px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: translate(5px, 20px);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg) translate(-2px, 0px);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* -- Left and right arrow button CSS end -- */

/* ---- SIDEBAR CSS END ----*/